* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

html {
  /* this defines what 1rem is (in this case 1rem = 10px - with percentage 62.5) */
  font-size: 62.5%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

/* Header Section */
.header {
  width: 100%;
  height: 10vh;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 3rem;
  color: #f2f2f2;
  font-weight: 600;
}

.header__favourite {
  background: #f2f2f2;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: calc(height - 90%);
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Nav section */

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0 8rem 0;
}

.nav__sort {
  align-self: center;
}

.nav__sort--select {
  height: 4rem;
}

.nav__plus {
  font-size: 5rem;
  font-weight: 300;
  color: blueviolet;
  cursor: pointer;
  justify-self: center;
}

.nav__input {
  align-self: center;
  justify-self: end;
}

.nav__search {
  height: 4rem;
  padding: 0.5rem;
}

/* Filter section */

.filter {
  display: grid;
  grid-template-columns: 1fr 5.5fr 1fr;
  margin-bottom: 8rem;
}

.filter__btnWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background: blueviolet;
  width: 90%;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  padding: 2rem;
  justify-self: center;
}

.filter__btnWrap > button {
  height: 3rem;
  padding: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem;
}

.filter__plus {
  /* height: 4rem; */
  text-align: center;
  align-self: center;
  min-width: 14rem;
}

.filter__minus {
  /* height: 4rem; */
  align-self: center;
  text-align: center;
  min-width: 15rem;
}

.filter__plus:link,
.filter__minus:link,
.filter__plus:visited,
.filter__minus:visited {
  text-decoration: none;
  padding: 1rem;
  background: blueviolet;
  font-size: 1.6rem;
  color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.filter__plus:hover,
.filter__minus:hover {
  transform: translateY(-1rem);
}

.filter__plus:active,
.filter__minus:active {
  transform: translateY(0);
}

/* Card section */

.card-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}

.card {
  width: 45%;
  height: auto;
  background: blueviolet;
  border-radius: 4px;
  margin: 2rem;
  position: relative;
}

.card__top {
  display: flex;
  justify-content: space-between;
}

.card__top > span {
  padding: 1rem;
  font-size: 1.6rem;
  color: #f2f2f2;
  cursor: pointer;
}

.card__top .favourite__love {
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  margin: 1rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__top .favourite__love:hover {
  transform: scale(1.07);
}
.card__top .favourite__love:focus {
  outline: none;
}
.card__top .favourite__love svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: #fff;
}

.card__content {
  height: 60%;
  line-height: 1.5;
  padding-bottom: 6rem;
}

.card__title {
  padding: 1rem 1rem 0 1rem;
  text-align: center;
}

.card__title > a {
  font-size: 1.8rem;
  color: #f2f2f2;
  text-decoration: none;
  background: blue;
}

.card__title > a:hover {
  background: #f2f2f2;
  color: blue;
}

.card__description {
  background: #f2f2f2;
  margin: 1rem 1.8rem;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.card__description > p {
  font-size: 1.2rem;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
}

.card__bottom > i {
  padding: 1rem;
  font-size: 1.5rem;
  color: #f2f2f2;
  cursor: pointer;
}

.card__bottom > i:first-child {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.card__bottom > i:last-child {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.card__bottom > i:first-child:hover {
  color: #000;
}

.card__bottom > i:last-child:hover {
  color: #f00;
}

/* Pagniation section */

.pagination {
  width: 100%;
  margin-bottom: 3rem;
}

.pagination__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-btn {
  width: 4rem;
  height: 4rem;
  background: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(196, 202, 211);
  cursor: pointer;
}

.pagination-btn:hover {
  background: #f2f2f2;
}

/* Footer section */

.footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blueviolet;
}

.footer__content {
  font-size: 1.6rem;
  color: #f2f2f2;
}

.footer__content > a {
  color: #f2f2f2;
}

/* Modal section for adding link data*/

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  background: #f2f2f2;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Modal section for adding category */

.modal-cat-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-cat-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-cat-form {
  background: #fdfbfb;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-cat-close {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Modal section for removing category */

.modal-cat-remove-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-cat-remove-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal-cat-remove-form {
  background: #fdfbfb;
  height: 30%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-cat-remove-close {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Modal edit section */

.modal__edit-form {
  background: #f2f2f2;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.modal-close-edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-bg-edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-bg-edit-active {
  visibility: visible;
  opacity: 1;
}

/* Favourite links section */
.favourite-links {
  position: absolute;
  top: 10vh;
  right: 0;
  width: auto;
  height: auto;
  background: blueviolet;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.favourite {
  padding: 1rem;
  border: 1px solid #f2f2f2;
  line-height: 1.5;
  text-align: center;
}

.fav-title {
  font-size: 2rem;
  color: #f2f2f2;
  background: blue;
  text-decoration: none;
}

.fav-title:hover {
  background: #f2f2f2;
  color: blue;
}

.fav-description {
  font-size: 1.6rem;
  color: #f2f2f2;
}

.favourite-active {
  visibility: visible;
  opacity: 1;
}

/* Media query */

@media only screen and (min-width: 1800px) {
  .card {
    width: 29%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    /* this defines what 1rem is (in this case 1rem = 10px - with percentage 62.5) */
    font-size: 56.5%;
  }

  .card {
    width: 40%;
  }

  .container {
    max-width: 85%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    /* this defines what 1rem is (in this case 1rem = 10px - with percentage 62.5) */
    font-size: 52.5%;
  }

  .card {
    width: 45%;
    margin: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .filter__plus {
    grid-column: 1/4;
    justify-self: start;
  }

  .filter__btnWrap {
    grid-column: 1/4;
    margin: 1.5rem;
  }

  .filter__minus {
    grid-column: 1/4;
    justify-self: end;
  }
}

@media only screen and (max-width: 600px) {
  html {
    /* this defines what 1rem is (in this case 1rem = 10px - with percentage 62.5) */
    font-size: 50.5%;
  }

  .card {
    width: 95%;
    margin: 1rem;
  }

  .nav__search {
    width: 16rem;
  }
  .nav__sort {
    grid-column: 1/3;
    width: 18rem;
  }

  .nav__plus {
    order: -1;
    grid-column: 1/4;
    margin-bottom: 3rem;
  }

  .filter__btnWrap {
    width: 95%;
    padding: 1rem;
  }
}
